<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="section" th:fragment="header">
    <div class="inner clearfix">

        <div class="left-group float--left">
            <div class="home-logo">
                <a href="/">메인이동</a>
            </div>
        </div>


        <ul class="right-group float--right">
            <li><a href="/login" th:if="${session.loginId == null and session.userEmail == null}">로그인</a></li>
            <li><a href="/custom/logout" th:if="${session.loginId != null or session.userEmail != null}">로그아웃</a></li>
            <li><a href="/coupon" th:if="${session.loginId != null or session.userEmail != null}">쿠폰</a></li>
            <li><a href="/item_upload" th:if="${status == T(com.hello.capston.entity.enums.MemberRole).ROLE_MANAGER or status == T(com.hello.capston.entity.enums.MemberRole).ROLE_ADMIN}">상품 등록</a></li>
            <li><a href="/admin/member_to_manager" th:if="${status == T(com.hello.capston.entity.enums.MemberRole).ROLE_ADMIN}">매니저승급</a></li>
            <li><a href="/coupon_upload" th:if="${status == T(com.hello.capston.entity.enums.MemberRole).ROLE_ADMIN}">쿠폰등록</a></li>
        </ul>

    </div>
</header>
</html>