#thead-title {
    text-align: center;
}

.number, .writer, .write-date {
    text-align: center;
}

.number {
    width: 10%;
}

.title {
    width: 50%;
}

.writer {
    width: 20%;
}

.write-date {
    width: 20%;
}

.board-footer {
    text-align: right;
}

.container {
    padding: 50px;
}

.pagination {
    width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}