body {
    height: auto;
}

.detail_size {
    text-align: center;
    font-size: 40px;
    padding: 100px 0;
}

.details_upload {
    text-align: center;
}


/* #detail .line {
    padding-top: 30px;
    display: inline;
} */
#detail .detailWrap{
    padding-top: 20px;
    display: inline-block;
}

#detail span {
    justify-content: center;
    font-size: 25px;
    vertical-align: middle;
}

#detail input {
    height: 30px;
    width: 290px;
}

.details_upload form>input {
    margin: 30px 10px 0 10px;
    height: 40px;
    width: 150px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.803);
}

.details_upload form>input:last-child{
    width: 320px;
}

@media screen and (max-width:420px) {

    .detail_size {
        text-align: center;
        font-size: 35px;
        padding: 70px 0;
    }
    #detail span {
        justify-content: center;
        font-size: 25px;
        vertical-align: middle;
    }

    #detail input {
        height: 30px;
        width: 250px;
        padding-bottom: 20px;
    }
}