<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.css">

    <script src="/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/input-text.css">
    <link rel="stylesheet" href="/css/common/nav.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/fixed/like.css">
    <link rel="stylesheet" href="/css/main/main.css">

    <style>
        .container {
            text-align: center;
            padding: 200px 0;
            font-size: 25px;
            font-weight: 600;
        }
    </style>
</head>
<body>

<div th:replace="fragment/like :: like"></div>
<div class="body__container">

    <!-- 헤더 header.css -->
    <header th:replace="fragment/header :: header"></header>

    <!-- 빈공간살짝 -->
    <div class="under">

    </div>

    <form th:replace="fragment/category :: category"></form>

    <!-- 네비게이션 태그 nav.css -->
    <nav th:replace="fragment/nav :: nav"></nav>
    <ul class="mini_nav">
        <li><a href="/item_list">최신상품</a></li>
        <li><a href="/item_list_popular">인기상품</a></li>
        <li><a href="/bucket">장바구니</a></li>
        <li><a href="/inquiry">문의하기</a></li>
    </ul>
</div>

<div class="container">
    관리자 화면입니다. 일반 회원은 접근할 수 없습니다.
</div>

<div th:replace="fragment/footer :: footer"></div>

</body>
</html>