<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<a href="/">홈으로</a>

<form name="orderform" id="orderform" method="post" class="orderform" action="/Page" onsubmit="return false;">

    <input type="hidden" name="cmd" value="order">
    <div class="basketdiv" id="basket">
        <div class="row data" th:each="bucket : ${bucket}">
            <div class="subdiv">
                <div class="check"><input type="checkbox" name="buy" th:value="${bucket.id}" checked="" onclick="javascript:basket.checkItem();">&nbsp;</div>
                <div class="img"><img th:src="${bucket.item.itemUrl}" width="100" height="100"></div>
                <div class="pname">
                    <span th:text="${bucket.item.itemName}"></span>
                </div>
            </div>
            <div class="subdiv">
                <div class="basketprice"><input type="hidden" name="p_price" id="p_price1" class="p_price" th:value="${bucket.item.price}" th:text="${bucket.item.price}"></div>
                <div class="num">
                    <div class="updown">
                        <input type="text" th:name="p_num + ${bucket.orders}" size="2" maxlength="4" class="p_num" value="1" th:onkeyup="|javascript:basket.changePNum(${bucket.orders})|">
                        <span th:onclick="|javascript:basket.changePNum(${bucket.orders})|"><i class="fas fa-arrow-alt-circle-up up"></i></span>
                        <span th:onclick="|javascript:basket.changePNum(${bucket.orders})|"><i class="fas fa-arrow-alt-circle-down down"></i></span>
                    </div>
                </div>
                <div class="sum" th:text="${bucket.item.price}"></div>
            </div>
        </div>
    </div>

    <div class="right-align basketrowcmd">
        <a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delCheckedItem();">선택상품삭제</a>
        <a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delAllItem();">장바구니비우기</a>
    </div>

    <div class="bigtext right-align sumcount" id="sum_p_num" th:text="상품개수  + ${bucketCount}"></div>
    <div class="bigtext right-align box blue summoney" id="sum_p_price" th:text="상품총액 + ${totalAmount}"></div>

    <div id="goorder" class="">
        <div class="clear"></div>
        <div class="buttongroup center-align cmd">
            <a href="/payment">선택한 상품 주문</a>
        </div>
    </div>
</form>


<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){

        // "선택 상품 삭제" 버튼 클릭

        document.querySelector('.basketrowcmd a:first-child').addEventListener('click', function(){

            basket.delCheckedItem();

        });

        // "장바구니 비우기" 버튼 클릭

        document.querySelector('.basketrowcmd a:nth-child(2)').addEventListener('click', function(){

            basket.delAllItem();

        });

        // "선택한 상품 주문" 버튼 클릭

        document.querySelector('.buttongroup a:first-child').addEventListener('click', function () {

            basket.addTemporaryOrder();

        });

        // 장바구니 행 "삭제" 버튼 클릭

        document.querySelectorAll('.basketcmd a').forEach(

            function(item){

                item.addEventListener('click', function(){

                    basket.delItem();

                });

            }

        );

        // 수량변경 - 이벤트 델리게이션으로 이벤트 종류 구분해 처리

        document.querySelectorAll('.updown').forEach(function(item, idx){

                //수량 입력 필드 값 변경

                item.querySelector('input').addEventListener('keyup', function(){

                    basket.changePNum(idx+1);

                });

                //수량 증가 화살표 클릭

                item.children[1].addEventListener('click', function(){

                    basket.changePNum(idx+1);

                });

                //수량 감소 화살표 클릭

                item.children[2].addEventListener('click', function(){

                    basket.changePNum(idx+1);

                });

            }

        );

        //앵커 # 대체해 스크롤 탑 차단

        document.querySelectorAll('a[href="#"]').forEach(function(item){

            item.setAttribute('href','javascript:void(0)');

        });
        let basket = {

            totalCount: 0, //전체 갯수 변수

            totalPrice: 0, //전체 합계액 변수

            addTemporaryOrder: function() {

                /*document.querySelectorAll("input[name=buy]:checked").forEach(function (item) {
                    let id = item.getAttribute('value');
                    let price = item.parentElement.parentElement.nextElementSibling.firstElementChild.firstElementChild.getAttribute('value');
                    let count = item.parentElement.parentElement.nextElementSibling.firstElementChild.nextElementSibling.firstElementChild.firstElementChild.getAttribute('value');

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/addTemporaryOrder_addBucketId",
                        contentType: "application/json",
                        data: JSON.stringify({
                            id: id,
                            price: price,
                            count: count
                        })
                    })
                })*/
            },
            //체크한 장바구니 상품 비우기

            delCheckedItem: function(){

                document.querySelectorAll("input[name=buy]:checked").forEach(function (item) {

                    item.parentElement.parentElement.parentElement.remove();

                    let id = item.getAttribute('value');

                    $.ajax({
                        type : "POST",
                        dataType : "json",
                        url : "/cancelBucket",
                        contentType : "application/json",
                        data : JSON.stringify({
                            id : id
                        })
                    })

                });

                //AJAX 서버 업데이트 전송



                //전송 처리 결과가 성공이면

                this.reCalc();

                this.updateUI();

            },

            //장바구니 전체 비우기

            delAllItem: function(){

                document.querySelectorAll('.row.data').forEach(function (item) {

                    item.remove();

                    $.ajax({
                        type : "GET",
                        dataType : "json",
                        url : "/cancelAllBucket",
                        contentType : "application/json",
                    })

                });

                //AJAX 서버 업데이트 전송



                //전송 처리 결과가 성공이면

                this.totalCount = 0;

                this.totalPrice = 0;

                this.reCalc();

                this.updateUI();

            },

            //재계산

            reCalc: function(){

                this.totalCount = 0;

                this.totalPrice = 0;

                document.querySelectorAll(".p_num").forEach(function (item) {

                    var count = parseInt(item.getAttribute('value'));9999

                    this.totalCount += count;

                    var price = item.parentElement.parentElement.previousElementSibling.firstElementChild.getAttribute('value');

                    this.totalPrice += count * price;

                }, this); // forEach 2번째 파라메터로 객체를 넘겨서 this 가 객체리터럴을 가리키도록 함. - thisArg

            },

            //화면 업데이트

            updateUI: function () {

                document.querySelector('#sum_p_num').textContent = '상품갯수: ' + this.totalCount.formatNumber() + '개';

                document.querySelector('#sum_p_price').textContent = '합계금액: ' + this.totalPrice.formatNumber() + '원';

            },

            //개별 수량 변경

            changePNum: function (pos) {

                var item = document.querySelector('input[name=p_num'+pos+']');

                console.log(item);

                var p_num = parseInt(item.getAttribute('value'));

                var newval = event.target.classList.contains('up') ? p_num+1 : event.target.classList.contains('down') ? p_num-1 : event.target.value;



                if (parseInt(newval) < 1 || parseInt(newval) > 99) { return false; }



                item.setAttribute('value', newval);

                item.value = newval;



                var price = item.parentElement.parentElement.previousElementSibling.firstElementChild.getAttribute('value');

                item.parentElement.parentElement.nextElementSibling.textContent = (newval * price).formatNumber()+"원";

                //AJAX 업데이트 전송

                let bucketId = item.parentElement.parentElement.parentElement.previousElementSibling.firstElementChild.firstElementChild.getAttribute('value');

                $.ajax({
                    type : "POST",
                    dataType : "json",
                    url : "/changeCount",
                    contentType : "application/json",
                    data : JSON.stringify({
                        bucketId : bucketId,
                        count : newval
                    })
                }).done(function (data) {
                    if (data.message != null) {
                        alert(data.message);
                    }
                })


                //전송 처리 결과가 성공이면

                this.reCalc();

                this.updateUI();

            },

            //상품 삭제

            delItem: function () {

                event.target.parentElement.parentElement.parentElement.remove();

            }
        }
        Number.prototype.formatNumber = function(){
            if(this==0) return 0;
            let regex = /(^[+-]?\d+)(\d{3})/;
            let nstr = (this + '');
            while (regex.test(nstr)) nstr = nstr.replace(regex, '$1' + ',' + '$2');
            return nstr;
        };
    })
    </script>
</body>
</html>