<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style>
        .sameItem {
            display: inline-block;
            margin-right: 10px;
        }

        .comment {
            margin-top: 30px;
        }
    </style>
</head>
<body>
<a href="/">홈으로</a>
    <div>
        <img th:src="${item.itemUrl}" width="400" height="400">
        <label th:text="|상품명 / 상품코드 (${item.itemName} / ${item.uniqueCode})|"></label>
        <input type="checkbox" id="like" th:field="${like.recommend}" th:value="${like.recommend}"> 좋아요
        <label th:text="${likeCount}"></label>
        <div>
            <label th:each="categories : ${categories}" th:text="${categories}"></label>
        </div>
        <div>
            <label>다른 색상 상품</label>
        </div>
        <div th:each="items : ${items}" class="sameItem">
            <a th:href="@{/item_detail/{id}(id = ${items.id})}"><img th:src="${items.itemUrl}" width="70" height="70"></a>
        </div>
    </div>

    <select name="size" id="size">
        <option th:each="itemDetail : ${itemDetail}" th:text="${itemDetail.size}" th:value="${itemDetail.size}"></option>
    </select>

    <div>
        <button type="button" id="bucket">장바구니 담기</button>
        <a href="/bucket">장바구니 이동</a>
    </div>

    <div th:if="${isLogin == 1}" class="comment">
        <form th:action="@{/comment/{id}(id = ${item.id})}" method="post" enctype="multipart/form-data">
            <img id="preview-image" src="" style="width: 200px; height: 200px; display: none;">
            <input type="file" name="commentImage" id="input-image"> <br>
            <textarea name="comment" rows="5" cols="30"></textarea>
            <input type="submit" value="댓글달기">
        </form>
    </div>

    <div th:each="comment : ${comment}">
        <img th:src="${comment.imageUrl}" width="100" height="100">
        <p th:text="${comment?.member?.username}"></p>
        <p th:text="${comment?.user?.name}"></p>
        <p th:text="${comment.comment}"></p>
    </div>

    <div class="page">
        <a th:href="@{/item_detail/{id}(id = ${item.id})/?page=1}"><<</a>
        <a th:each="page : ${pageCount}" th:href="@{/item_detail/{id}(id = ${item.id})/(page=${page.value})}" th:text="${page.value}">page</a>
        <a th:href="@{/item_detail/{id}(id = ${item.id})/(page=${lastPage})}">>></a>
    </div>

    <!-- 사진 미리보기 -->
    <script type="text/javascript">
        function readImage(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = e => {
                    const previewImage = document.getElementById("preview-image");
                    previewImage.src = e.target.result;
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        const inputImage = document.getElementById("input-image");
        inputImage.addEventListener("change", e => {
            document.getElementById("preview-image").style.display = 'block';
            readImage(e.target);
        })
    </script>

    <!-- 장바구니 -->
    <script type="text/javascript">
        $(document).ready(function() {
            var itemId = '[[${item.id}]]';
            const bucket = document.getElementById('bucket');

            var userEmail = '[[${session.userEmail}]]';
            var loginId = '[[${session.loginId}]]';

            bucket.addEventListener('click', () => {
                var size = document.getElementById('size');
                var target = size.options[size.selectedIndex].value;

                if (userEmail == "" && loginId == "") {
                    alert("로그인 후에 이용하실 수 있습니다.");
                }
                else if (target.includes('품절')) {
                    alert("품절인 상품은 장바구니에 담을 수 없습니다.");
                }
                else {
                    $.ajax({
                        type : "POST",
                        dataType : "json",
                        url : "/addBucket",
                        contentType : "application/json",
                        data : JSON.stringify({
                            id : itemId,
                            size : target
                        })
                    })
                    console.log(target);
                    alert("장바구니에 담았습니다.");
                }
            })
        })
    </script>

    <!-- 좋아요 -->
    <script type="text/javascript">
        $(document).ready(function () {
            var itemId = '[[${item.id}]]';
            var email = '[[${session.userEmail}]]';
            var loginId = '[[${session.loginId}]]';
            if (email == "" && loginId == "") {
                document.getElementById("like").disable = true;
            }
            else {
                $("#like").change(function () {
                    if ($("#like").is(":checked")) {
                        $.ajax({
                            type : "POST",
                            dataType : "json",
                            url : "/like",
                            contentType : "application/json",
                            data : JSON.stringify({
                                id : itemId
                            })
                        })
                    }
                    else {
                        $.ajax({
                            type : "POST",
                            dataType : "json",
                            url : "/dislike",
                            contentType : "application/json",
                            data : JSON.stringify({
                                id : itemId
                            })
                        })
                    }
                })
            }
        })
    </script>
</body>
</html>