<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
    <title>Title</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

    <link rel="stylesheet" href="css/payment/payment.css" type="text/css">

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <script src="js/bootstrap.js"></script>

    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/input-text.css">
    <link rel="stylesheet" href="/css/common/nav.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/fixed/like.css">
    <link rel="stylesheet" href="/css/main/main.css">

    <style>
        .error {
            color: red;
            border-color: red;
        }

        .field-error {
            color: red;
        }
    </style>
</head>
<body>
<div th:replace="fragment/like :: like"></div>
<div class="body__container">

    <!-- 헤더 header.css -->
    <header th:replace="fragment/header :: header"></header>

    <!-- 빈공간살짝 -->
    <div class="under">

    </div>

    <form th:replace="fragment/category :: category"></form>

    <!-- 네비게이션 태그 nav.css -->
    <nav th:replace="fragment/nav :: nav"></nav>
    <ul class="mini_nav">
        <li><a href="/item_list">최신상품</a></li>
        <li><a href="/item_list_popular">인기상품</a></li>
        <li><a href="/bucket">장바구니</a></li>
        <li><a href="/inquiry">문의하기</a></li>
    </ul>
</div>

<div class="container">
    <table class="table">
        <thead>
        <th scope="col">id</th>
        <th scope="col">이미지</th>
        <th scope="col">상품이름</th>
        <th scope="col">수량</th>
        <th scope="col">옵션</th>
        <th scope="col">가격</th>
        </thead>
        <tbody>
        <tr th:each="tOrder : ${tOrder}">
            <td th:text="${tOrder.bucket.id}" th:value="${tOrder.bucket.id}" class="bucketId">1</td>
            <td><img th:src="${tOrder.bucket.item.itemUrl}" width="70" height="70"></td>
            <td><label th:text="${tOrder.bucket.item.itemName}">상품A</label></td>
            <td><label th:text="${tOrder.count}">2</label></td>
            <td><label th:text="${tOrder.size}">S</label></td>
            <td><label th:text="${tOrder.price}">55300</label></td>
        </tr>
        </tbody>
    </table>

    <form action="/payment" method="post" th:object="${payment}">
        <div>
            <div class="recipient_left">
                <label>수령인</label>
            </div><div class="recipient_right">
            <input type="text" name="recipient" th:field="*{recipient}" th:errorclass="error" id="recipient" class="form-control">
        </div>
            <!-- <div class="field-error">
                <p th:errors="*{recipient}"></p>
            </div> -->
        </div>
        <div>
            <div class="phone_start">
                <label>핸드폰</label>
            </div><div class="phone_first">
            <input type="text" name="first" th:field="*{first}" th:errorclass="error" size="6" id="first" class="form-control">
        </div><div class="phone_second">
            <input type="text" name="second" th:field="*{second}" th:errorclass="error" size="6" id="second" class="form-control">
        </div><div class="phone_third">
            <input type="text" name="third" th:field="*{third}" th:errorclass="error" size="6" id="third" class="form-control">
        </div>
            <!-- <div class="field-error">
                <p th:errors="*{first}"></p>
                <p th:errors="*{second}"></p>
                <p th:errors="*{third}"></p>
            </div> -->
        </div>
        <div>
            <div class="post">
                <input type="text" placeholder="우편번호" name="zipcode" readonly="readonly" id="postNumber" th:field="*{zipcode}" th:errorclass="error" class="form-control">
            </div><div class="post">
            <input type="button" id="post" value="우편번호 찾기" class="btn btn-dark">
        </div>
            <!-- <div class="field-error">
                <p th:errors="*{zipcode}"></p>
            </div> -->
        </div>
        <div class="text">
            <input type="text" placeholder="도로명 주소" name="street" readonly="readonly" id="roadAddress" size="40" th:field="*{street}" th:errorclass="error" class="form-control">
            <!-- <div class="field-error">
                <p th:errors="*{street}"></p>
            </div> -->
        </div>

        <span id="guide" style="color:#999; display: none"></span>

        <div class="text">
            <input type="text" name="detailAddress" placeholder="세부 주소" id="detailAddress" th:field="*{detailAddress}" th:errorclass="error" class="form-control">
            <!-- <div class="field-error">
                <p th:errors="*{detailAddress}"></p>
            </div> -->
        </div>

        <div class="text">
            <select name="memo" class="form-select">
                <option value="none">배송 시 요청사항을 선택해주세요</option>
                <option value="부재 시 경비실에 맡겨주세요">부재 시 경비실에 맡겨주세요</option>
                <option value="부재 시 택배함에 넣어주세요">부재 시 택배함에 넣어주세요</option>
                <option value="부재 시 집 앞에 놔주세요">부재 시 집 앞에 놔주세요</option>
                <option value="배송 전 연락 바랍니다">배송 전 연락 바랍니다</option>
                <option value="파손의 위험이 있는 상품입니다. 배송 시에 주의해주세요">파손의 위험이 있는 상품입니다. 배송 시에 주의해주세요</option>
            </select>
        </div>

        <div class="payment_info">
            <div class="payment_left">
                <p>총액</p>
            </div><div class="payment_right">
                <p th:text="${orderPrice}">1800</p>
            </div>

            <div class="payment_left">
                <p>할인쿠폰</p>
            </div><div class="payment_right">
                <select class="form-select" onchange="selectCoupon();" id="coupon">
                    <option>
                        ------------------------------------------------------------
                    </option>
                    <option th:each="coupon : ${coupon}" th:text="${coupon.coupon.couponDetail}"></option>
                </select>
            </div>

            <div class="payment_left">
                <p>할인금액</p>
            </div><div class="payment_right">
                <p class="discount">----------------</p>
            </div>

            <div class="payment_left">
                <p>총 결제액</p>
            </div><div class="payment_right">
                <p class="result_price">----------------</p>
            </div>
        </div>

        <div class="buy">
            <button type="button" id="buy" class="btn btn-dark btn-lg">구매하기</button>
        </div>
    </form>
</div>
<div th:replace="fragment/footer :: footer"></div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">
    var orderPrice = '[[${orderPrice}]]';

    function selectCoupon() {
        var coupon = document.getElementById('coupon');
        var target = coupon.options[coupon.selectedIndex].value;
        $.ajax({
            type : "POST",
            url : "/selectCoupon",
            contentType : "application/json",
            dataType : "json",
            data : JSON.stringify({
                target: target
            })
        }).done(function (data) {
            console.log("test");
            orderPrice = data.orderPrice;
            $(".discount").text(data.discountPrice);
            $(".result_price").text(data.orderPrice);
        })
    }

    $(document).ready(function() {
        //결제
        const buy = document.getElementById('buy');
        const recipient = document.getElementById('recipient');
        const first = document.getElementById('first');
        const second = document.getElementById('second');
        const third = document.getElementById('third');
        const zipcode = document.getElementById('postNumber');
        const roadAddress = document.getElementById('roadAddress');
        const detailAddress = document.getElementById('detailAddress');

        buy.addEventListener('click', () => {
            var memberId = '[[${member?.id}]]';
            var userId = '[[${user?.id}]]';
            var userEmail = '[[${session.userEmail}]]';
            var loginId = '[[${session.loginId}]]';
            var itemName = '[[${itemName}]]' + "외 " + '[[${tOrderSize}]]' + "개";
            var giver = recipient.value;        //수령인
            var phone = first.value + "-" + second.value + "-" + third.value;   //핸드폰
            var postNumber = zipcode.value;     //우편번호
            var address = roadAddress.value + " " + detailAddress.value;        //주소

            var coupon = document.getElementById('coupon');
            var target = coupon.options[coupon.selectedIndex].value;    //쿠폰 선택

            console.log(itemName);
            console.log(orderPrice);
            console.log(giver);
            console.log(phone);
            console.log(postNumber);
            console.log(address);
            console.log("member : " + memberId);
            console.log("user : " + userId);

            if (recipient.value == "" || first.value == "" || second.value == "" || third.value == "" || zipcode.value == "" || roadAddress.value == "" || detailAddress.value == "") {
                alert("빈칸을 채워주세요");
            }
            else {
                if (userEmail == "" && loginId == "") {
                    alert("로그인을 진행해주세요")
                    location.href = "/login";
                }
                else {
                    IMP.init('imp20762411')
                    IMP.request_pay({
                        pg : 'kcp',
                        pay_method : 'card',
                        merchant_uid : 'merchant_' + new Date().getTime(),
                        name : itemName,
                        amount : orderPrice,
                        buyer_email : userEmail,
                        buyer_name : giver,
                        buyer_tel : phone,
                        buyer_addr : address,
                        buyer_postcode : postNumber
                    }, function (rsp) {
                        $.ajax({
                            type : "POST",
                            url : "/verifyIamport/" + rsp.imp_uid
                        }).done(function (data) {
                            if (rsp.paid_amount == data.response.amount) {
                                $.ajax({
                                    type : "POST",
                                    url : "/paymentComplete",
                                    contentType : "application/json",
                                    dataType : "json",
                                    data : JSON.stringify({
                                        memberId : memberId,
                                        userId : userId,
                                        zipcode : postNumber,
                                        street : roadAddress.value,
                                        detailAddress : detailAddress.value,
                                        target : target
                                    })
                                }).done (function (data) {
                                    if (data.message == '결제가 정상적으로 완료되었습니다.') {
                                        alert(data.message);
                                        location.href = "/paymentComplete";
                                    }
                                    else {
                                        $.ajax({
                                            url : "/payment_cancel",
                                            type : "POST",
                                            contentType : "application/json",
                                            dataType : "json",
                                            data : JSON.stringify({
                                                imp_uid : rsp.imp_uid,
                                                amount : 100,
                                                checksum : 100,
                                                reason : "재고 부족으로 인한 취소",
                                            })
                                        }).done(function (data){
                                            alert(data.message);
                                        })
                                        alert(data.message);
                                        location.href = "/bucket";
                                    }
                                })
                            }
                        })
                    })
                }
            }
        })


        //주소 찾기

        const postcode = document.getElementById('post');

        postcode.addEventListener('click', () => {
            new daum.Postcode ({
                oncomplete: function (data) {
                    var roadAddr = data.roadAddress;
                    var extraRoadAddr = '';

                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }

                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }

                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    document.getElementById('postNumber').value = data.zonecode;
                    document.getElementById('roadAddress').value = roadAddr;

                    var guideTextBox = document.getElementById('guide');

                    if (data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';
                    }
                    else if (data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    }
                    else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        })
    })
</script>
</body>
</html>